In [1]:
from seek_scraper import SeekScraper
from description_processor import keywords_finder
import json
import pandas as pd
import os

In [2]:
# load data from csv
raw_data_file = 'data/seek_scraper_raw_data.csv'
data = pd.read_csv(raw_data_file)
data.head()

,Search Term,Job ID,Job Title,Company,Location,Job Classification,Job Description,Work Type,Scrape Date
0,data-analyst,61932638,Data Analyst (Reporting Analyst),Mars Recruitment,Perth WA,Information & Communication Technology,as a reporting analyst you ll oversee the repo...,Full time,03/03/2023 13:22:37
1,data-analyst,61547724,Data Analyst,City of Melville,Melville,Information & Communication Technology,permanent full time position up to 128 707 p a...,Full time,03/03/2023 13:22:56
2,data-analyst,63625332,Data Analyst - GP Workforce Analytics,WA Primary Health Alliance,Perth WA,Science & Technology,about uswapha acknowledges the traditional own...,Contract/Temp,03/03/2023 13:22:56
3,data-analyst,61855878,Reporting Analyst,Western Power,Perth WA,Information & Communication Technology,do you want to deliver work that truly matters...,Full time,03/03/2023 13:22:57
4,data-analyst,63034917,Insights Analyst,Rocky Bay Limited,Mosman Park,Marketing & Communications,what you ll be doing as part of the customer e...,Full time,03/03/2023 13:22:57

In [3]:
# skills keywords list
with open('skill_keywords.json') as f:
    skills = json.load(f)
# programming languages keywords list
with open('programming_keywords.json') as f:
    langugages = json.load(f)

In [4]:
data['Skills'] = data['Job Description'].apply(lambda x: keywords_finder(x, skills))
data['Programming Languages'] = data['Job Description'].apply(lambda x: keywords_finder(x, langugages))
# drop the job description column
data.drop('Job Description', axis=1, inplace=True)
data.head()

,Search Term,Job ID,Job Title,Company,Location,Job Classification,Work Type,Scrape Date,Skills,Programming Languages
0,data-analyst,61932638,Data Analyst (Reporting Analyst),Mars Recruitment,Perth WA,Information & Communication Technology,Full time,03/03/2023 13:22:37,RPA:ETL:Qlik:Power BI,SQL
1,data-analyst,61547724,Data Analyst,City of Melville,Melville,Information & Communication Technology,Full time,03/03/2023 13:22:56,,
2,data-analyst,63625332,Data Analyst - GP Workforce Analytics,WA Primary Health Alliance,Perth WA,Science & Technology,Contract/Temp,03/03/2023 13:22:56,Power BI,R:Python
3,data-analyst,61855878,Reporting Analyst,Western Power,Perth WA,Information & Communication Technology,Full time,03/03/2023 13:22:57,RPA:ETL:Qlik:Power BI,SQL
4,data-analyst,63034917,Insights Analyst,Rocky Bay Limited,Mosman Park,Marketing & Communications,Full time,03/03/2023 13:22:57,,

In [5]:
# save the processed data to csv
processed_location = 'data/processed'
if not os.path.exists(processed_location):
    os.makedirs(processed_location)
# save the processed data to csv
data.to_csv(f"{processed_location}/seek_scraper_processed_data.csv", index=False)
# print success message
print(f"Processed data saved to {processed_location}/seek_scraper_processed_data.csv")

Processed data saved to data/processed/seek_scraper_processed_data.csv

In [ ]:
# get the count of each skill
skills_count = {}
langugages_count = {}
for index, row in data.iterrows():
    skills = row['Skills'].split(':')
    skills = [skill.strip() for skill in skills]
    langugages = row['Programming Languages'].split(',')
    langugages = [language.strip() for language in langugages]
    for skill in skills:
        if skill in skills_count:
            skills_count[skill] += 1
        else:
            skills_count[skill] = 1
    for language in langugages:
        if language.strip() in langugages_count:
            langugages_count[language] += 1
        else:
            langugages_count[language] = 1
# sort the skills and languages by count
skills_count = {k: v for k, v in sorted(skills_count.items(), key=lambda item: item[1], reverse=True)}
langugages_count = {k: v for k, v in sorted(langugages_count.items(), key=lambda item: item[1], reverse=True)}

In [ ]:
skills_count

In [ ]:
langugages_count